/* ========== Import Mixin ============== */
/* Base class reset */
.pull-right {
  float: left !important; }

.pull-left {
  float: right !important; }

.dgt-pr0[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 15px !important; }

.dgt-pl0[class*="col-"] {
  padding-right: 0 !important;
  padding-left: 15px !important; }

.dgt-blog-grid, .dgt-cause-item, .wpb_column, #fancybox-content .dgt-donate-form-wrapper {
  direction: rtl; }

.dgt-al-left {
  text-align: right; }

.dgt-slider-carousel, #fancybox-content {
  direction: ltr; }

/* Header */
.header-top-inner p {
  margin: 0 0 0 23px; }
  .header-top-inner p i {
    margin: 0 0 0 7px; }
.header-top-inner .dgt-search-icon {
  margin: 10px 0 0 0;
  border-left: none;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 10px 0 0; }
.header-top-inner .searchform .dgt-search-form {
  left: 0;
  right: auto; }

.dgt-search-icon {
  margin: 9px -20px 0 17px; }

.searchform .dgt-search-form .dgt-search-close {
  left: 15px;
  right: auto; }

/* Navigation */
.dgt-navigation > div > ul > li.menu-item-has-children > a {
  padding: 0 15px 0 26px; }
.dgt-navigation li.menu-item-has-children > a:after {
  left: 13px;
  right: auto; }
.dgt-navigation li.dgt-megamenu .sub-menu .sub-menu, .dgt-navigation li.dgt-megamenu .sub-menu .children, .dgt-navigation li.dgt-megamenu .children .sub-menu, .dgt-navigation li.dgt-megamenu .children .children {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }
.dgt-navigation li.dgt-megamenu .sub-menu li:hover > .sub-menu, .dgt-navigation li.dgt-megamenu .sub-menu li:hover > .children, .dgt-navigation li.dgt-megamenu .children li:hover > .sub-menu, .dgt-navigation li.dgt-megamenu .children li:hover > .children {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }
.dgt-navigation .sub-menu, .dgt-navigation .children {
  right: 0;
  left: auto; }
  .dgt-navigation .sub-menu li a:before, .dgt-navigation .children li a:before {
    right: 0;
    left: auto; }
  .dgt-navigation .sub-menu li.menu-item-has-children > a:after, .dgt-navigation .children li.menu-item-has-children > a:after {
    content: "\f124"; }
  .dgt-navigation .sub-menu li:hover > .sub-menu, .dgt-navigation .sub-menu li:hover > .children, .dgt-navigation .children li:hover > .sub-menu, .dgt-navigation .children li:hover > .children {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -khtml-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%); }
  .dgt-navigation .sub-menu .sub-menu, .dgt-navigation .sub-menu .children, .dgt-navigation .children .sub-menu, .dgt-navigation .children .children {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -khtml-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%); }
.dgt-navigation .custom-icon {
  padding: 0 0 0 8px; }
.dgt-navigation .dgt-megamenu-custom-width > .sub-menu, .dgt-navigation .dgt-megamenu-custom-width > .children {
  right: 50%;
  transform: translate(50%, 30px);
  -webkit-transform: translate(50%, 30px);
  -khtml-transform: translate(50%, 30px);
  -moz-transform: translate(50%, 30px);
  -ms-transform: translate(50%, 30px);
  -o-transform: translate(50%, 30px); }
.dgt-navigation .dgt-megamenu-custom-width:hover > .sub-menu, .dgt-navigation .dgt-megamenu-custom-width:hover > .children {
  right: 50%;
  transform: translate(50%, 0px);
  -webkit-transform: translate(50%, 0px);
  -khtml-transform: translate(50%, 0px);
  -moz-transform: translate(50%, 0px);
  -ms-transform: translate(50%, 0px);
  -o-transform: translate(50%, 0px); }
.dgt-navigation .dgt-megamenu-content > .dgt-megamenu-item {
  float: right; }

/* Blog */
.dgt-blog-sidebar .blog-image {
  float: right; }
  .dgt-blog-sidebar .blog-image + .blog-info {
    padding: 0 14px 0 0;
    float: left; }

.dgt-blog-item-inner .dgt-blog-date {
  left: auto;
  right: 10px; }

.dgt-blog-list .dgt-blog-item-inner .dgt-blog-info {
  padding: 10px 0 20px 20px; }
.dgt-blog-list .dgt-blog-item-inner .dgt-blog-date {
  left: auto; }

/* Link */
.dgt-link-list li a {
  padding: 8px 21px 8px 0; }
  .dgt-link-list li a:before {
    left: auto;
    right: 0;
    content: "\f3d2"; }

/* Cause */
.dgt-element-cause.owl-theme .owl-controls {
  right: auto;
  left: 21px; }

.dgt-list-layout .dgt-cause-button {
  text-align: right; }
.dgt-list-layout.dgt-list-alt-left .dgt-cause-infomation {
  margin-left: 0;
  margin-right: -100px; }
.dgt-list-layout.dgt-list-alt-left .dgt-raised-percent {
  left: 40px;
  right: auto; }
.dgt-list-layout.dgt-list-alt-left .dgt-cause-inner .post-feature-image {
  transform: translate(70px, -50px);
  -webkit-transform: translate(70px, -50px);
  -khtml-transform: translate(70px, -50px);
  -moz-transform: translate(70px, -50px);
  -ms-transform: translate(70px, -50px);
  -o-transform: translate(70px, -50px); }
.dgt-list-layout .dgt-team-item-inner .dgt-team-avatar {
  float: right; }
  .dgt-list-layout .dgt-team-item-inner .dgt-team-avatar + .dgt-team-content {
    float: left;
    padding: 40px 0 0 32px; }
.dgt-list-layout.dgt-list-alt .dgt-cause-inner .post-feature-image {
  margin: 34px -60px 0 0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -khtml-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0); }
.dgt-list-layout.dgt-list-alt .dgt-cause-infomation {
  padding: 0 40px 40px 100px;
  margin: 0; }
.dgt-list-layout.dgt-list-alt .dgt-raised-percent {
  left: 25px;
  right: auto; }
.dgt-list-layout.dgt-list-alt.owl-theme .owl-controls {
  right: auto;
  left: 22%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -khtml-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); }

.dgt-grid-alt .dgt-raised-percent {
  right: auto;
  left: 20px; }
.dgt-grid-alt .dgt-cause-button {
  text-align: right; }

.dgt-raised-number span, .dgt-goal-number span {
  padding-left: 5px; }

/* Icon box */
.dgt-readmore i {
  padding: 0 7px 0 0; }
  .dgt-readmore i:before {
    content: "\f3d2"; }

.dgt-icon-box-horizontal .dgt-icon-box-info, .dgt-icon-box-title .dgt-icon-box-info {
  text-align: right;
  margin: 0 17px 0 0; }

/* Footer */
.footer-address i {
  margin: 0 0 0 13px; }

.footer-widget .dgt-cause-title a {
  padding: 0 24px 1px 0; }
  .footer-widget .dgt-cause-title a:before {
    content: "\f3d2";
    right: 0;
    left: auto; }
  .footer-widget .dgt-cause-title a:hover:before {
    right: 5px; }

.site-footer .footer-widget ul li a {
  padding: 0 24px 10px 0; }
  .site-footer .footer-widget ul li a:before {
    content: "\f3d2";
    right: 0;
    left: auto; }
  .site-footer .footer-widget ul li a:hover:before {
    right: 5px; }

#dgt-back-top {
  right: auto;
  left: 30px; }

/* Newsletter */
.footer-newsletter .widget-title {
  float: right; }

.newsletter p {
  float: right; }

/* Contact */
.dgt-contact-info i {
  float: right; }
.dgt-contact-info span, .dgt-contact-info a {
  padding: 0 30px 0 0; }

div.wpcf7 {
  text-align: right; }

/* Event */
.dgt-event-meta span {
  padding: 0 0 0 18px;
  display: inline-block; }
.dgt-event-meta i {
  padding: 0 0 0 7px; }

.dgt-event-action > [class*="dgt-event-"] {
  margin: 29px 0 0 20px; }

/* Pagination */
.dgt-pagination .next i {
  padding: 0 6px 0 0; }
  .dgt-pagination .next i:before {
    content: "\f124"; }

/* Testimonial */
.dgt-testimonial-inner .dgt-testimonial-avatar, .dgt-testimonial-inner .dgt-testimonial-meta {
  float: right; }

.dgt-testimonial-inner .dgt-testimonial-avatar {
  margin: 0 0 0 20px; }

/* Form Donate */
.dgt-donate-form-wrapper .dgt-amount-button {
  float: right; }
  .dgt-donate-form-wrapper .dgt-amount-button:first-child {
    margin-left: 20px; }
  .dgt-donate-form-wrapper .dgt-amount-button:last-child {
    margin-left: 0; }

/* Visual composer */
.vc_row.vc_row-has-fill, .vc_row.vc_row-no-padding {
  direction: ltr;
  left: 0 !important;
  margin-left: -1000px !important;
  margin-right: -1000px !important;
  padding-left: 1000px !important;
  padding-right: 1000px !important;
  width: auto !important; }

.vc_row.vc_row-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

@media (max-width: 1920px) {
  .vc_row.vc_row-has-fill, .vc_row.vc_row-no-padding {
    margin-left: -400px !important;
    margin-right: -400px !important;
    padding-left: 400px !important;
    padding-right: 400px !important; }

  .vc_row.vc_row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

/*# sourceMappingURL=dgt-rtl.css.map */
